{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1 style="text-align: center">About</h1>
        <div class="row">
            <div class="col-3"></div>
            <div class="col">
                <p style="text-align: center">
                    This website is a platform for trading used computer hardware by Theo Hinton-Hallows. It uses data from PCPartPicker using the PCPartPickerAPI (from PyPI) to create the filters for items being sold. It was created as a project for my EPQ.
                </p>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

{% endblock content %}