<!DOCTYPE html>
<html style="height:100%">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="../static/images/graphics-card.png"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% if title %}
            <title>Trading website - {{ title }}</title>
        {% else %}
            <title>Trading website</title>
        {% endif %}
        <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
    </head>
    <body style="height:100%">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand pl-5" href="/">
                <img src="../static/images/graphics-card.png" style="width:auto; height:40px"/>
                TechTrader
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/home">Home</a>
                    <a class="nav-item nav-link" href="/about">About</a>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/browse-posts" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Browse Posts
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/browse-posts">All</a>
                            <a class="dropdown-item" href="/browse-posts/cpus">CPUS</a>
                            <a class="dropdown-item" href="/browse-posts/video-cards">Graphics Cards</a>
                            <a class="dropdown-item" href="/browse-posts/memory">Memory</a>
                            <a class="dropdown-item" href="/browse-posts/storage">Storage</a>
                            <a class="dropdown-item" href="/browse-posts/power-supplies">Power Supplies</a>
                            <a class="dropdown-item" href="/browse-posts/motherboards">Motherboards</a>
                            <a class="dropdown-item" href="/browse-posts/cases">Cases</a>
                            <a class="dropdown-item" href="/browse-posts/other">Other</a>
                        </div>
                    </div>
                    <a class="nav-item nav-link" href="/set-category">Create Post</a>
                </div>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div style="min-height: 100%; overflow: auto">
            {% block content %}{% endblock %}
        </div>

        <nav class="navbar navbar-dark bg-dark" style="position: relative; clear: both">
            <span class="navbar-text text-muted"><small>Graphics Card Logo Icon made by <a href="https://www.flaticon.com/authors/prettycons" title="prettycons">prettycons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small></span>
        </nav>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>