{% extends "layout.html" %}
{% block content %}
    <br>
    <h1 class="container">Post Creation</h1>
    <div class="container border border-info rounded">
        <form method = "POST" action = "">
            {{category_form.hidden_tag()}}
            <fieldset class = "form-group">
                <legend class="border-bottom mb-4">Set Post Category</legend>
                <div class = "form-group">
                    {{category_form.category.label(class="form-control-label")}}
                    {{category_form.category(class="form-control form-control-lg")}}
                </div>
            </fieldset>
            <div class="form-group">
                {{category_form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
{% endblock content %}